<!DOCTYPE html>
<html>
<head>
<style>
    .grid-container {
        display: grid;
        height: 400px;
        align-content: space-evenly;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color: #FFD0D0;
        padding: 10px;
    }

    .grid-container>div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

</style>
</head>
<body>

{% if start_room and myroom.holliday.name == 'Passover' %}
    <a href="{% url 'set_afi_komen' myroom.slug %}">Hide The Afi Komen</a>
{% endif %}
<br>
<br>
<br>
<h1>{{myroom.name}}</h1

{% for child_room in child_rooms %}
    <a href="{% url 'room_detail' child_room.slug %}">
    <img src="{{child_room.image_url}}"></a>


    
{% endfor %}

<br>
<br>

{% if myroom.afi_komen %}
    You Win!!
    <img src="https://i.imgur.com/nTdlE9x.jpg">
{% elif myroom.holliday.name == 'Passover' and not child_rooms %}
    No Afi Komen Here
{% endif %}

</body>

</html>