<!DOCTYPE html>
<html>
<head>
<style>
    .grid-container {
        display: grid;
        height: 400px;
        align-content: space-evenly;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color: #FFD0D0;
        padding: 10px;
    }

    .grid-container>div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

    .room-image {
        border-radius: 10%;
        border-color: white;
    }
</style>
</head>
<body>

{{myroom.content}}

<br>
{% if start_room and myroom.holliday.name == 'Passover' %}
<br>
    <a href="{% url 'set_afi_komen' myroom.slug %}">Hide The Afi Komen</a>
    <br>
    <br>
    <br>
    Then enter the:
{% endif %}

{% for child_room in child_rooms %}
    <a href="{% url 'room_detail' child_room.slug %}"><h1>{{child_room.name}}</h1></a>
    <img src="{{child_room.image_url}}">
    
{% endfor %}

<br>
<br>

{% if myroom.afi_komen %}
    YAY
{% elif myroom.holliday.name == 'Passover' and not child_rooms %}
    No Afi Komen Here
{% endif %}

</body>

</html>